/* DEMO-SPECIFIC STYLES */
.typewriter p {
  color: #fff;
  text-align: left;
  float: left;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(53, 255, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .12em; /* Adjust as needed */
  animation: 
    typing 1.5s steps(30, end),
    blink .9s linear infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: rgb(53, 255, 255) }
}

.cont{
  display: flex;
}

.text{
  font-size: 4rem;
}

.main{
 
  position: relative;
}
